.projects-page {
  padding-left: 100px;
  padding-right: 50px;
  width: calc(100% - 150px);
  position: initial;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  padding-left: 200px;

  h1.page-tittle {
    margin-left: 100px;
    margin-top: 100px;
  }
}
